:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layout-content {
    flex: 1; // 🔥 esto rellena todo el espacio entre header y footer
    display: flex;
    flex-direction: column;
  }